<div class="jumbotron container-fluid text-center">
    <div class="row-fluid span12">
		<h2>Analysis</h2>
	</div>
    <div class="row-fluid span12">
    	<h3>Concentration: {{email.concentration}}</h3>
    </div>
    <div class="row-fluid span12">
    	<h3>Mellowness: {{email.mellowness}}</h3>
    </div>
    <div class="row-fluid span12">
    	<h3>Recipient: {{email.recipient}}</h3>
    </div>
    <div class="row-fluid span12">
    	<h3>Sender: {{email.sender}}</h3>
    </div>
    <div class="row-fluid span12">
    	<h3>Subject: {{email.subject}}</h3>
    </div>
    <div class="row-fluid span12">
    	<h3>Message: {{email.message}}</h3>
    </div>
  </fieldset></form></div>
</div>
