<div class="jumbotron container-fluid text-center">
  <form><fieldset>
    <div class="row-fluid"><div class="span12">
      <input ng-model="recipient" type="text" class="email form-control input-lg" placeholder="recipient@address.co">
      <input ng-model="sender" type="text" class="email form-control input-lg" placeholder="you@address.co">
      <input ng-model="subject" type="text" class="email form-control input-lg" placeholder="subject">
    </div></div>
    <div class="row-fluid"><div class="span12">
      <textarea ng-model="message" ng-click="$scope.startRecording()" type="text" class="email form-control input-lg" placeholder="message:" rows="5"></textarea>
    </div></div>
    <div class="row-fluid">
      <div class="span2">
        <button ng-click="finishRecording()" class="email btn btn-large btn-primary" type="submit">send</button>
      </div>
    </div>
  </fieldset></form></div>
</div>

