<div class="jumbotron container-fluid text-center">
  <form><fieldset>
    <div class="row-fluid"><div class="span12">
      <input type="text" class="email form-control input-lg" placeholder="recipient@address.co">
      <input type="text" class="email form-control input-lg" placeholder="you@address.co">
      <input type="text" class="email form-control input-lg" placeholder="subject">
    </div></div>
    <div class="row-fluid"><div class="span12">
      <textarea type="text" class="email form-control input-lg" placeholder="message:" rows="5"></textarea>
    </div></div>
    <div class="row-fluid">
      <div class="span2">
        <a href="#/analysis"><button class="email btn btn-large btn-primary" type="submit">send</button></a>
      </div>
    </div>
  </fieldset></form></div>
</div>
